{% extends 'base.html' %} {% block content %}

<div class="row">
  <h1 class="col offset-s4 offset-m4 offset-l4">Plants List</h1>
</div>
<hr>
<div class="row">
  {% for plant in plants %}

  <div class="col s12 m6 l4">
    <div class="card small">
      <div class="card-image">
        <img src="{{plant.indexPicture}}" alt="" />
      </div>

      <div class="card-content">
        <div class="right-align right">
        <span class="card-title">{{plant.name}}</span>
        <p><a href="{% url 'plantsDetail' plant.id %}" class="btn" style="background-color: #4a5846">Details</a></p>
      </div>
    </div>
    </div>

  </div>

  {% endfor %} {% endblock %}
</div>
