body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #838f77;
}

.page-footer {
    background-color: #838f77;
}

main {
    flex: 1 0 auto;
}

.plant-info{
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
}

.plant-details-p {
    padding-left: 7px;
}